
#panel .panel {
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#panel .back {
	background-color: #000;
	opacity:0.5;
}

#panel .front {
	overflow: scroll;
	overflow-x: hidden;
}

#panel .window {
	word-wrap: break-word;
	max-width:600px;
	padding:20px;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;

	background-color: #fff;

	border:1px solid #eeeded;
	border-radius: 2px;
}



#panel .window img {
	width:100%;
}


#panel .item {
	padding:20px;
	padding-top:10px;
}

#panel .date {
	background-color: #fff;
	padding:5px;
	border:1px solid #eeeded;
	display: inline-block;
	margin-top:10px;
}

#panel #content {
	//opacity: 0.2;
}

#panel .loading {
	padding:40px;
	background-color:#dddddd;
	margin:-20px;
}

#panel .l-1 {
	width:80px;
	height:80px;
	background-color: #ccc;
	border-radius: 100%;
	margin:auto;

	overflow: hidden;

	//border:1px solid #eeeded;

	animation: test 0.75s infinite;
	-webkit-animation: test 0.75s infinite;
}

#panel .l-2 {
	width:60px;
	height:60px;
	background-color: #dddddd;
	border-radius: 100%;
	display: inline-block;
	margin-left:10px;
	margin-top:10px;
}

#panel .l-3 {
	width:40px;
	height:40px;
	background-color: #eeeded;
}

.news-bottom {
	margin:-20px;
	margin-top:20px;
	padding:20px;
	background-color:#eeeded;
	border-top:1px solid #ccc;
}

@-webkit-keyframes test {
  0% { -webkit-transform: rotate(0deg) } 
  100% { -webkit-transform: rotate(360deg) }
}